.main{
    background-color: black;
    margin: 10px auto;
    height: 400px;
    width: 95vw;
    position: relative;
}
.line{
    background-color: red;
    width: 0.8vw;
    display: inline-block;
    position: absolute;
    top: 0;
}
body{
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
